<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="docketplace.stocktakr"
    android:versionCode="12"
    android:versionName="1.2">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity android:screenOrientation="portrait" android:name=".activities.Stocktakr" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:screenOrientation="portrait" android:name=".activities.PriceCheck" android:label="Price Check" />
        <activity android:screenOrientation="portrait" android:name=".activities.SettingsView" android:label="Settings" />
        <activity android:name=".activities.StocktakeHome" android:label="Stocktake" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.ScanItems" android:label="Scan Stocktake Item" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.StocktakeRecordsList" android:label="Stocktake Records" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.SubmitRecords" android:screenOrientation="portrait" android:label="Upload Stocktake"></activity>
        <activity android:name=".activities.PurchaseOrders.PurchaseOrderHome" android:screenOrientation="portrait" android:label="Purchase Order"></activity>
        <activity android:label="Scan Purchase Order Item" android:name=".activities.PurchaseOrders.PurchaseOrderScanItem" android:screenOrientation="portrait"></activity>
        <activity android:label="Purchase Order Items" android:name=".activities.PurchaseOrders.PurchaseOrderList" android:screenOrientation="portrait"></activity>
        <activity android:label="Upload Purchase Order" android:screenOrientation="portrait" android:name=".activities.PurchaseOrders.PurchaseOrderSubmit"></activity>
        <activity android:name=".activities.receivedgoods.ReceivedGoodsHome" android:label="Received Goods" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.TransactionsHome" android:label="Transactions" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.receivedgoods.ReceivedGoodsScanItem" android:label="Scan Received Goods Item" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.receivedgoods.ReceivedGoodsList" android:label="Received Goods Item List" android:screenOrientation="portrait"></activity>
        <activity android:name=".activities.receivedgoods.ReceivedGoodsSubmit" android:label="Upload Received Goods Invoice"  android:screenOrientation="portrait"></activity>
    </application>

</manifest>